.Image{
    max-width:100px;
    height: auto;
    margin-top: 10px;
}
.ImageCircle{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}