.SecondMenu{
    margin-bottom: 20px;
}
.Item{
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    border-bottom: 2px solid transparent;
}
.Item a, .Item a:hover{
    text-decoration: none;
    color: brown;
}
.Item:hover{
    border-bottom: 2px solid brown;
}