.Search{
    position: absolute; 
    bottom : 41px;
    width: 88%
}
.LeftPanel{
    text-align: center; 
    position: relative;
    padding-left: 0px!important;
}
.innerDiv{
    margin-top: 10px;
    padding-left: 20px;
    overflow: auto;
    border-left: 1px solid lightgray;
}