.Image{
    width: 300px;
    height: auto;
    border: 45%;
}
.List{
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding: 20px;
    list-style-type: none;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.List li{
    margin-bottom: 10px;
    border-bottom: 2px solid lightgray;
}