.Image{
    max-width: 250px;
    margin-top: 10px;
}
.Content{
    margin-top: 50px;
    align-content: flex-start;
    align-items: flex-start;
}
.ContentTop{
    display: flex;
    align-items: center;
    text-align: justify;
}