.AuthReg{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.Button{
    margin-top: 40px;
    margin-bottom: 20px;
    display: block;
}
.Tabs{
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 0px;
}
.Tabs li{
    margin: 20px;
    font-weight: 600;
    color: cornflowerblue;
}
.Tabs li a{
    color: cornflowerblue;
    text-decoration: none;
}
.Fullwith{
    width: 90%;
    margin: auto;
}